<!DOCTYPE html>
    <head>
        <title>Edit Book</title>
    </head>
    <body>
        <h1>Name:</h1>
        <form action="{{url_for('editBook', book_id = book_id)}}" method='POST'>
            <input type='text' size='30' name='name'>
            <input type='submit' value='Submit'>
            <a href="{{url_for('showBook')}}">Cancel</a> 
        </form>
    </body>
</html>