<!DOCTYPE html>
    <head>
        <title>Books</title>
    </head>
    <body>
        <h1>Books</h1>
        {% if books == [] %}
            <p>No books exist</p>
        {% else %}
            {% for book in books %}
                <div>
                    {{book.title}}
                    <br>
                    <a href="{{url_for('editBook', book_id = book.id)}}">Edit Book</a>
                    <br>
                    <a href="{{url_for('deleteBook', book_id = book.id)}}">Delete Book</a>
                    <br>
                    <br>
                </div>
            {% endfor %}
        {% endif %}
    </body>
</html>